body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #eb4;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background: #eba1a1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
